@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Licorice&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Marmelad&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Trickster"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Trickster"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}
.header {
  height: 1000px;
  font-family: "Marmelad", sans-serif;
  background: url("../img/2I4A46041600.jpg") 0 0/cover no-repeat;
}
.header__top {
  padding-top: 20px;
  height: 100px;
  font-size: 60px;
  text-align: left;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.91);
}
.header__body {
  color: white;
  text-align: center;
}
.header__title {
  font-size: 100px;
  padding-top: 650px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.91);
}
.header .header__btn {
  padding: 5px 15px;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 800px;
  }
  .header__title {
    font-size: 90px;
    padding-top: 490px;
  }
}
@media screen and (max-width: 1201px) {
  .header {
    height: 700px;
  }
  .header__title {
    font-size: 60px;
    padding-top: 440px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 600px;
  }
  .header__top {
    font-size: 40px;
  }
  .header__title {
    font-size: 50px;
    padding-top: 370px;
  }
}
@media screen and (max-width: 769px) {
  .header {
    height: 500px;
    background: url("../img/2I4A4604800.jpg") center no-repeat;
  }
  .header__top {
    font-size: 30px;
  }
  .header__title {
    font-size: 35px;
    padding-top: 280px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    height: 500px;
    background: url("../img/2I4A4604800.jpg") center no-repeat;
  }
  .header__top {
    font-size: 20px;
  }
  .header__title {
    font-size: 30px;
    padding-top: 290px;
  }
  .header .header__btn {
    padding: 5px 5px;
  }
}
@media screen and (max-width: 377px) {
  .header {
    height: 500px;
    background: url("../img/2I4A4604800.jpg") center no-repeat;
  }
  .header__top {
    font-size: 20px;
  }
  .header__title {
    font-size: 30px;
    padding-top: 270px;
    margin-bottom: 10px;
  }
  .header .header__btn {
    padding: 5px 5px;
  }
}
.nice {
  font-family: "Marmelad", sans-serif;
}
.nice__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
}
.nice__pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 10px;
}
.nice__tb {
  max-width: 500px;
}
.nice__title {
  font-size: 60px;
  margin-bottom: 140px;
}
.nice__btn {
  padding: 5px 15px;
}
.nice__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.nice__forms {
  text-align: center;
}
.nice__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 30px;
}
.nice__text {
  font-size: 20px;
  margin-bottom: 20px;
}
.nice__forms-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nice__form {
  border: 1px solid var(--color-main);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.what {
  background: url("../img/2I4A1120.jpg") 0 0/cover no-repeat;
  height: 1000px;
  font-family: "Marmelad", sans-serif;
  position: relative;
}
.what__title {
  position: absolute;
  color: white;
  font-size: 70px;
  max-width: 280px;
  left: 60%;
  bottom: 2%;
}

@media screen and (max-width: 1440px) {
  .what {
    height: 800px;
  }
  .what__title {
    left: 56%;
    font-size: 65px;
  }
}
@media screen and (max-width: 1201px) {
  .what {
    height: 700px;
  }
  .what__title {
    font-size: 55px;
  }
}
@media screen and (max-width: 1024px) {
  .what {
    height: 600px;
  }
  .what__title {
    font-size: 45px;
    left: 50%;
  }
}
@media screen and (max-width: 769px) {
  .nice__fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .nice__pic {
    margin-right: 0;
  }
  .nice__tb {
    text-align: center;
  }
  .nice__title {
    margin-bottom: 40px;
  }
  .nice__forms {
    text-align: center;
  }
  .nice__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .nice__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .nice__forms-fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nice__btn1 {
    width: 100%;
  }
  .nice__form {
    width: 100%;
    border: 1px solid var(--color-main);
    padding: 10px;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .nice__name {
    text-align: center;
  }
  .nice__phone {
    text-align: center;
  }
  .what {
    height: 500px;
    background: url("../img/2I4A1120800.jpg") center no-repeat;
  }
  .what__title {
    font-size: 35px;
    max-width: 100%;
    left: 10%;
  }
}
@media screen and (max-width: 450px) {
  .what {
    height: 500px;
  }
  .what__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 377px) {
  .nice__pic {
    width: 250px;
    height: 250px;
  }
  .header__title {
    font-size: 30px;
  }
}
.bla {
  font-family: "Marmelad", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
.bla__block {
  text-align: center;
}
.bla__title {
  font-size: 70px;
  margin-bottom: 40px;
}
.bla__btn {
  padding: 5px 15px;
  margin-bottom: 40px;
}
.bla__img {
  margin-left: 10%;
  max-width: 700px;
  position: relative;
}
.bla__pic {
  width: 100%;
}
.bla__card {
  padding: 35px;
  position: absolute;
  left: 660px;
  top: 190px;
  width: 500px;
  height: 300px;
  background-color: #bff0fc;
}

.card {
  font-size: 30px;
  text-align: left;
}
.card__text {
  padding-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 26px;
}
.card__signature {
  color: #da4c29;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  .card {
    left: 560px;
    top: 220px;
  }
  .bla__img {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1201px) {
  .card {
    left: 420px;
    top: 350px;
  }
  .bla {
    margin-bottom: 150px;
  }
  .bla__img {
    margin-left: 6%;
    max-width: 700px;
    position: relative;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 400px;
    min-height: 400px;
    margin: 0 auto;
    position: static;
  }
  .bla {
    margin-bottom: 40px;
  }
  .bla__img {
    margin: 0 auto;
  }
  .bla__pic {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .card {
    max-width: 300px;
    min-height: 450px;
  }
}
@media screen and (max-width: 377px) {
  .card {
    max-width: 250px;
    min-height: 550px;
  }
}
.how {
  color: #ffffff;
}
.how__title {
  padding-top: 40px;
  font-size: 80px;
  margin-bottom: 50px;
}
.how__item {
  position: relative;
  font-size: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
}
.how__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: 0px;
}

@media screen and (max-width: 1440px) {
  .how__title {
    font-size: 70px;
    margin-bottom: 40px;
  }
  .how__item {
    font-size: 35px;
    padding-left: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1201px) {
  .how__title {
    font-size: 60px;
    margin-bottom: 35px;
  }
  .how__item {
    font-size: 30px;
    padding-left: 35px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .how__title {
    font-size: 55px;
    margin-bottom: 30px;
  }
  .how__item {
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 769px) {
  .how__title {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .how__item {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .how__title {
    font-size: 45px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 377px) {
  .header {
    height: 500px;
    background: url("../img/2I4A4604800.jpg") center no-repeat;
  }
  .header__top {
    font-size: 20px;
  }
  .header__title {
    font-size: 30px;
    padding-top: 270px;
    margin-bottom: 10px;
  }
  .header .header__btn {
    padding: 5px 5px;
  }
}
.about {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/grad2.jpg") right 0/auto 100% no-repeat;
  text-align: left;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  font-size: 25px;
  max-width: 600px;
  margin-bottom: 30px;
  font-weight: 500;
}

@media screen and (max-width: 1050px) {
  .about__title {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 900px) {
  .about {
    background: url("../img/grad3.jpg") right 0/auto 100% no-repeat;
  }
  .about__text {
    padding-top: 0px;
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    background: none;
  }
  .about__text {
    padding-top: 20px;
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 0;
  }
  .about__title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 376px) {
  .about__text {
    padding-top: 20px;
    font-size: 18px;
  }
  .about__title {
    padding-top: 20px !important;
    font-size: 30px !important;
  }
  .about__block1 {
    min-height: auto;
    background: none;
    text-align: left;
  }
}
.content {
  padding-top: 20px;
}

.intro__image {
  display: none;
}
.intro__top {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(179, 17, 17);
}
.intro__block1 {
  background: url("../img/tra.jpg") 0 0/auto 100% no-repeat;
  text-align: right;
}
.intro__subtitle {
  text-transform: uppercase;
  padding-top: 100px;
  font-size: 80px;
}
.intro__text {
  padding-top: 100px;
  font-size: 30px;
}
.intro__img {
  padding-top: 80px;
  width: 130px;
  margin-left: 87%;
}
.intro__pic {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .intro__subtitle {
    font-size: 75px;
  }
  .intro__img {
    padding-top: 60px;
    width: 130px;
    margin-left: 85%;
  }
}
@media screen and (max-width: 1050px) {
  .intro__subtitle {
    font-size: 60px;
  }
  .intro__img {
    padding-top: 60px;
    width: 130px;
    margin-left: 85%;
  }
}
@media screen and (max-width: 900px) {
  .intro__subtitle {
    font-size: 87px;
    text-wrap: wrap;
  }
  .intro__img {
    display: none;
  }
  .intro__text {
    padding-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .intro__text {
    padding-top: 40px;
    font-size: 24px;
  }
  .intro__subtitle {
    font-size: 45px;
    padding-top: 30px;
  }
  .intro__image {
    display: block;
  }
  .intro__block1 {
    background: none;
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .intro__text {
    padding-top: 20px;
    font-size: 18px;
  }
  .intro__subtitle {
    font-size: 35px;
    padding-top: 20px;
  }
  .intro__title {
    padding-top: 20px !important;
    font-size: 30px !important;
  }
  .intro__block1 {
    background: none;
    text-align: left;
  }
}
.services__title {
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  text-align: center;
}
.services__accord {
  margin-bottom: 40px;
}
.services__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border: 2px solid var(--color-main);
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.title-container:hover {
  background-color: #ffcdcd;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.fa-angle-down {
  font-size: 40px;
}

.sitem1 {
  margin-top: 20px;
  border: 2px solid var(--color-main);
  background-color: #fff;
  border-radius: 5px;
}
.sitem1__title {
  padding: 15px 50px 15px 15px;
  display: block;
  cursor: pointer;
  font-size: 30px;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  position: relative;
}
.sitem1__title::after {
  content: "\f107";
  font: normal normal normal 40px/1 FontAwesome;
  display: block;
  position: absolute;
  color: var(--color-main);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}
.sitem1__title:hover {
  background-color: var(--color-main3);
  border-radius: 3px;
}
.sitem1__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.sitem1__descr {
  display: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.sitem1__input:checked ~ .sitem1__descr {
  display: block;
}

.sitem1__input:checked ~ .sitem1__title {
  background-color: var(--color-main3);
  border-radius: 3px 3px 0 0;
}

.sitem1__input:checked ~ .sitem1__title::after {
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  top: 50%;
}

@media screen and (max-width: 769px) {
  .services__title {
    margin-bottom: 20px !important;
    padding-top: 0px !important;
    font-size: 30px !important;
  }
}
@media screen and (max-width: 376px) {
  .sitem1__title {
    font-size: 25px;
  }
  .sitem1__title::after {
    right: 5px;
    font: normal normal normal 30px/1 FontAwesome;
  }
}
.contacts {
  border-top: 2px solid rgb(179, 17, 17);
  border-bottom: 2px solid rgb(179, 17, 17);
  padding-bottom: 20px;
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.contacts a {
  color: rgb(179, 17, 17);
}

.fa-telegram, .fa-instagram {
  font-size: 70px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fa-telegram {
  font-size: 65px;
}

.fa-telegram:hover, .fa-instagram:hover {
  text-shadow: 0px 0px 10px #CE5937;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.text {
  font-size: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.text:hover {
  text-decoration: underline;
}

.link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

@media screen and (max-width: 769px) {
  .text {
    font-size: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.reviews {
  margin-bottom: 20px;
}
.reviews__title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}
.reviews__container {
  max-width: 100%;
  margin: 0 auto;
}
.reviews__wrapper {
  padding-bottom: 30px;
}
.reviews__image {
  text-align: center;
}
.reviews__pic {
  max-width: 400px;
  margin-bottom: 30px;
}
.reviews__text {
  font-size: 30px;
  margin-bottom: 40px;
}

.reviews__container .swiper-button-prev::after,
.reviews__container .swiper-button-next::after {
  color: var(--color-main);
  font-size: 40px;
}

.reviews__container .swiper-button-prev:hover::after,
.reviews__container .swiper-button-next:hover::after {
  color: var(--color-main2);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.reviews__container .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20;
  font-size: 14px;
  background-color: var(--color-main);
}

.reviews__container .swiper-pagination {
  bottom: 0;
}

@media screen and (max-width: 450px) {
  .reviews__pic {
    max-width: 330px;
  }
}
@media screen and (max-width: 376px) {
  .reviews__pic {
    max-width: 250px;
  }
  .reviews__title {
    margin-bottom: 20px !important;
    padding-top: 0px !important;
    font-size: 30px !important;
  }
}
.footer .container {
  padding: 0 15px;
}
.footer__box {
  background-color: var(--color-main3);
}
.footer__text {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: var(--color-main);
  font-weight: 900;
  font-family: "Licorice";
}

body {
  font-family: "Marmelad", sans-serif;
}

:root {
  --color-main: #AA0;
  --color-main3: rgb(255, 255, 135);
  --color-main2: #636300;
  --color-text: #313131;
  --color-white: #fff;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

.header, section {
  margin-bottom: 60px;
}

.uparrow {
  position: fixed;
  bottom: 900px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-main);
  z-index: 10;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.uparrow span {
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: inherit;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 20.5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-radius: 2px;
}

.uparrow span::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  background-color: white;
  top: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-radius: 2px;
}

.uparrow span::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  background-color: white;
  top: 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -2.5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-radius: 2px;
}

.uparrow:hover {
  background-color: #636300;
}
.uparrow:hover span {
  background-color: white;
}
.uparrow:hover span::before {
  top: -3px;
}
.uparrow:hover span::after {
  top: -3px;
}

.uparrow.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  height: 40px;
  background-color: #AA0;
  font-size: 20px;
  color: white;
  line-height: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #636300;
}

.title {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  .uparrow.active {
    opacity: 0.7;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    padding: 0 15px;
  }
  .uparrow.active {
    opacity: 0.5;
  }
  .title {
    padding-top: 0px;
    font-size: 30px;
  }
}