.header {
	height: 1000px;
	font-family: "SerifiqoRegular";
	background: url('../img/2I4A46041600.jpg') 0 0/cover  no-repeat;
	// text-transform: uppercase;
	&__top{
		
		font-size: 60px;
		text-shadow: 0px 0px 8px rgba(255,255,255,0.91);
	}
	&__body{
		color: white;
		text-align: center;

	}
	&__title{
		font-size: 100px;
		padding-top: 650px;
		margin-bottom: 30px;
		text-shadow: 0px 0px 8px rgba(0,0,0,0.91);
	}
	.header__btn {
		padding: 5px 15px;
	}
}
.menu__burger{
	// display: none;
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
}
.menu__burger span,
.menu__burger span::after,
.menu__burger span::before{
	position: absolute;
	width: 20px;
	height: 4px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -10px;
	border-radius: 2px;
	background-color: black;
	// background-color: var(--color-main);
	}
.menu__burger span::after,
.menu__burger span::before{
	content: '';
	margin-left: -15px;
	width: 30px;
	transition: all .3s ease 0s;
}
.menu__burger span::before{
	transform: translateY(10px);
}
.menu__burger span::after{
	transform: translateY(-10px);
}
.active span{
	height: 0;
}
.active span::after{
	transform: rotate(45deg);
}
.active span::before{
	transform: rotate(-45deg);
}
.menu-bar{
	padding: 0 30px;
	padding-top: 20px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width:1440px){
	.header {
		height: 800px;
		&__title{
			font-size: 90px;
			padding-top: 490px;
		}
	}

}
@media screen and (max-width:1201px){
	.header {
		height: 700px;
		&__title{
			font-size: 60px;
			padding-top: 440px;
		}
	}

}
@media screen and (max-width:1024px){
	.header {
		height: 600px;
		&__top{
			font-size: 40px;
		}
		&__title{
			font-size: 50px;
			padding-top: 370px;
		}
	}

}
@media screen and (max-width:769px){
	.header {
		height: 500px;
		background: url('../img/2I4A4604800.jpg') center  no-repeat;
		&__top{
			font-size: 30px;
		}
		&__title{
			font-size: 35px;
			padding-top: 280px;
		}
	}

}
@media screen and (max-width:450px){
	.header {
		height: 500px;
		background: url('../img/2I4A4604800.jpg') center  no-repeat;
		&__top{
			font-size: 20px;
		}
		&__title{
			font-size: 30px;
			padding-top: 290px;
		}
		.header__btn {
			padding: 5px 5px;
		}
	}

}
@media screen and (max-width:377px){
	.header {
		height: 500px;
		background: url('../img/2I4A4604800.jpg') center  no-repeat;
		&__top{
			font-size: 20px;
		}
		&__title{
			font-size: 30px;
			padding-top: 270px;
			margin-bottom: 10px;
		}
		.header__btn {
			padding: 5px 5px;
		}
	}
}