.reviews {
	margin-bottom: 20px;
	&__title{
		font-size: 60px;
		text-align: center;
		margin-bottom: 40px;
	}
	&__container{
		max-width: 100%;
		margin: 0 auto;
	}
	&__wrapper {
		padding-bottom: 30px;
	}
	&__image {
		text-align: center;
		cursor: pointer;
		// margin-right: 10px;
	}
	&__box{
		// max-width: 463px;
		// max-height: 308px;
		overflow: hidden;
	}
	&__image:hover {
		.reviews__pic{
			transform: scale(1.2);
		}
		.reviews__text{
			span{
				border-bottom: #da4c29 2px solid;
			}
			
		}	
	}
	&__pic {
		max-width: 100%;
		max-height: 100%;
		transition: transform 1s ease;
		// border-radius: 10px;	
		margin-bottom: 10px;
	}
	&__text{
		font-size: 30px;
		margin-bottom: 10px;
		color: #da4c29;
		
		// text-align: center;
		span{
			transition: all 1s ease;
			border-bottom: transparent 2px solid;
		}
	}
}
// .reviews__container .swiper-button-prev::after,
// .reviews__container .swiper-button-next::after{
// 	color: var(--color-main);
// 	font-size: 40px;
// }
// .reviews__container .swiper-button-prev:hover::after,
// .reviews__container .swiper-button-next:hover::after{
// 	// text-shadow: 0px 0px 10px #CE5937;
// 	color: var(--color-main2);
// 	transition-duration: 0.3s;
// }
// .reviews__container .swiper-pagination-bullet{
// 	width: 20px;
// 	height: 20px;
// 	line-height: 20;
// 	font-size: 14px;
// 	background-color: var(--color-main);
// }
// .reviews__container .swiper-pagination{
// 	bottom: 0;
// }
@media screen and (max-width:450px){
	.reviews {
		&__pic {
			max-width: 330px;
		}
	}
}
@media screen and (max-width:376px){
	.reviews {
		&__pic {
			max-width: 250px;
		}
		&__title{
			margin-bottom: 20px !important;
			padding-top: 0px !important;
			font-size: 30px !important;
		}
	}
}
.owl-prev, .owl-next{
	position: absolute;
	
	top: 35%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	// background-color: rgba(170, 170, 0, 0.486) !important;
	color: white;
}
.owl-prev:hover, .owl-next:hover{
	
	// background-color: rgba(170, 170, 0, 0.486) !important;
	.fa-chevron-left, .fa-chevron-right{
		// transition: all 0.3s ease;
		color: var(--color-main);
	}
}
.owl-prev span, .owl-next span{
	font-size: 120px;
	line-height: 20px;
	color: white;
}
.owl-next{
	right: -10px;
	
}
.owl-prev{
	left: -10px;
}
.fa-chevron-left, .fa-chevron-right{
	font-size: 30px;
	color: white;
	transition: all 0.3s ease;
}