.services {
	
	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 40px;
		text-align: center;
	}
	&__accord {
		margin-bottom: 40px;
	}
	&__container{
		max-width: 600px;
		margin: 0 auto;
		padding: 0 10px;
	}
}
.title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	border: 2px solid var(--color-main);
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.2s;
}
.title-container:hover {
	background-color: #ffcdcd;
	transition-duration: 0.2s;
}
.fa-angle-down{
	font-size: 40px;
}
.sitem1 {
	font-family: "NewYork";
	margin-top: 20px;
	border: 2px solid var(--color-main);
	background-color: #fff;
	border-radius: 5px;
	
	&__title {
		padding: 15px 50px 15px 15px;
		display: block;
		cursor: pointer;
		font-size: 30px;
		transition: background .2s ease-out;
		position: relative;
	}
	&__title::after {
		content: "\f107";
		font: normal normal normal 40px/1 FontAwesome;
		display: block;
		position: absolute;
		color: var(--color-main);
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
	&__title:hover {
		background-color: var(--color-main3);
		border-radius: 3px;
	}
	&__input {
		appearance: none; 
		position: absolute;
	}
	&__descr {
		display: none;
		padding: 15px;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
	}
}
.sitem1__input:checked ~ .sitem1__descr{
	display: block;
}
.sitem1__input:checked ~ .sitem1__title{
	background-color: var(--color-main3);
	border-radius: 3px 3px 0 0;
}
.sitem1__input:checked ~ .sitem1__title::after{
	transform: rotate(180deg) translateY(50%);
	top: 50%;
}
@media screen and (max-width:769px){
	.services{
		&__title{
			margin-bottom: 20px !important;
			padding-top: 0px !important;
			font-size: 30px !important;
		}
	}
}
@media screen and (max-width:376px){
	.sitem1 {
		&__title {
			font-size: 25px;
		}
		&__title::after {
			right: 5px;
			font: normal normal normal 30px/1 FontAwesome;
		}
	}	
}